<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>CukiGrooms</title>

		<!-- external CSS link -->
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section>
			<header>
				<a href="" class="logo"><img src="logo.png" alt="logo"></a>
			<ul>
				<li><a href="">Blog</a></li>
				<li><a href="">O nama</a></li>
				<li><a href="">Rezerviraj termin</a></li>
			</ul>
			</header>
			<section class="content">
				<div class="textBox">
					<div>
						<h1>CukiGrooms</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi est perferendis eius consequuntur. Praesentium soluta optio architecto qui quis corrupti sapiente voluptate quia. Suscipit, iste error enim quibusdam reprehenderit eveniet?</p>
						<a href="#">Rezerviraj termin</a>
					</div>
					<div class="imgBox">
						<img src="./pic/dogo1.jpg" alt="doggo">
					</div>
				</div>
			</section>






		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
