/* Box Model Hack !!!don't do the math*/
* {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif; 
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES 
/*******************************************/


section {
   position: relative;
   width: 100%;
   min-height: 100vh;
   padding: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #fff;
}
header{
     position:absolute;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px, 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
header.logo{
     position: relative;
     max-width: 80px;
}
header ul{
     position: relative;
     display: flex;
}
header ul li{
     list-style: none;
}
header ul li a{
     display: inline-block;
     color:#333;
     font-weight: 400;
     margin-left: 40px;
     text-decoration: none;
}
.content{
     position: relative;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.content.texBox{
     position: relative;
     max-width: 600px;
}
.content.texBox h1{
     color: #333;
     font-size: 4rem;
     line-height: 1.4rem;
     font-weight: 500;
}
.content.texBox p{
     color: #333;
}
.content.texBox a{
     display: inline-block;
     margin-top: 20px;
     padding: 8px 20px;
     background: #017143;
     color: #fff;
     border-radius: 40px;
     font-weight: 500;
     letter-spacing: 1px; 
     text-decoration: none;
}
.content.imgBox{
     
}
@media screen and (max-width:600px){
     section,.bottomBig{
          width:100%
     }
}